<% provide(:title, "") %>

<% if logged_in? %>
  <h3 class="g1-heading">マイページ</h3>
  <div class="info-block">
    <%= render 'shared/stats' %>
  </div>
  <% if @user.posts.any? %>
    <ul class="item-list">
      <%= render 'shared/feed' %>
    </ul>
  <% else %>
    <h3 class="g1-heading">まだ投稿がないため、新着の誰推し本を表示しています。</h3>
    <ul class="item-list">
      <%= render @latest_posts %>
    </ul>
  <% end %>
<% else %>
  <div class="item-wrap">
    <div class="b-heading">誰推しBook</div>
    <div class="description">ここは著名人がお勧めしていた本を皆んなで紹介し合うサイトです。自分が好きな著名人の好きな本を共有していきましょう。<br>興味の湧く本が少しでも見つかると嬉しいです！</div>
    <div class="form-field">
      <%= link_to signup_path, class: 'm-button' do %>
        <div class="content">新規登録する</div>
      <% end %>
      <div class="link">
        <%= link_to 'ログインはこちら', login_path, class: 'content' %>
      </div>
    </div>
  </div>
<% end %>