<% provide(:title, @user.name) %>

  <div class="cover"></div>
</a>
<h3 class="g1-heading">
  <% if current_user?(@user) %>
    マイページ
  <% else %>
    「<%= @user.name %>」さんの投稿ページ
  <% end %>
  </h3>
<div class="info-block">
  <div class="cover">
    <div class="block">
      <div class="count">24</div>
      <div class="type">投稿</div>
    </div>
  </div>
  <div class="cover">
    <a class="block" href="">
      <div class="count -link">1000</div>
      <div class="type -link">フォロー中</div>
    </a>
  </div>
</div>
<ul class="item-list">
  <li class="item-wrap">
    <a class="item-block" href="">
      <div class="title">『 龍馬伝 』</div>
      <div class="author">福田 靖<span>（著）</span></div>
      <div class="celebrity"><%= image_tag 'celebrity.png', class: 'image' %>
        <div class="name">孫正義<span class="small">さんの推し本</span></div>
      </div>
      <div class="bubble">テスト文章ですここにおすすめ文がきますよろしくお願いいたします！</div>
    </a>
  </li>
  <li class="item-wrap">
    <a class="item-block" href="">
      <div class="title">『 そして誰もいなくなった 』</div>
      <div class="author">アガサクリスティー<span>（著）</span></div>
      <div class="celebrity"><%= image_tag 'celebrity.png', class: 'image' %>
        <div class="name">隈研吾<span class="small">さんの推し本</span></div>
      </div>
      <div class="bubble">テスト文章ですここにおすすめ文がきますよろしくお願いいたします！テスト文章ですここにおすすめ文がきますよろしくお願いいたします！</div>
    </a>
  </li>
  <li class="item-wrap">
    <a class="item-block" href="">
      <div class="title">『本のタイトルがここにきます』</div>
      <div class="author">著者がここにきます<span>（著）</span></div>
      <div class="celebrity"><%= image_tag 'celebrity.png', class: 'image' %>
        <div class="name">著名人の名前<span class="small">さんの推し本</span></div>
      </div>
      <div class="bubble">テスト文章ですここにおすすめ文がきますよろしくお願いいたします！</div>
    </a>
  </li>
  <li class="item-wrap">
    <a class="item-block" href="">
      <div class="title">『本のタイトルがここにきます』</div>
      <div class="author">著者がここにきます<span>（著）</span></div>
      <div class="celebrity"><%= image_tag 'celebrity.png', class: 'image' %>
        <div class="name">著名人の名前著名人の<span class="small">さんの推し本</span></div>
      </div>
      <div class="bubble">テスト文章ですここにおすすめ文がきますよろしくお願いいたします！</div>
    </a>
  </li>
  <li class="item-wrap">
    <a class="item-block" href="">
      <div class="title">『本のタイトルがここにきます』</div>
      <div class="author">著者がここにきます<span>（著）</span></div>
      <div class="celebrity"><%= image_tag 'celebrity.png', class: 'image' %>
        <div class="name">著名人の名前著名人の名<span class="small">さんの推し本</span></div>
      </div>
      <div class="bubble">テスト文章ですここにおすすめ文がきますよろしくお願いいたします！</div>
    </a>
  </li>
</ul>