<header class="g-header">
  <div class="header-inner">
    <div class="header-menu js-menu-open">
      <div class="line"></div>
    </div>
    <%= link_to root_path, class: 'header-logo' do %>
      <h2 class="title">誰推しBook</h2>
    <% end %>
    <% if logged_in? %>
      <%= link_to '#', class: 'header-post' do %>
        <img class="image" src="https://placehold.jp/150x150.png">
      <% end %>
    <% else %>
      <div class="empty"></div>
    <% end %>
  </div>
  <div class="menu-area">
    <div class="menu-content">
      <div class="menu-header">
        <% if logged_in? %>
          <%= link_to current_user.name, edit_user_path(current_user), class: 'acount' %>
        <% else %>
          <%= link_to 'ログインする', login_path, class: 'acount' %>
        <% end %>
        <div class="close js-menu-close"></div>
      </div>
      <% if logged_in? %>
        <div class="menu-list">
          <%= link_to root_path, class: 'item' do %>
            <div class="title">マイページ</div>
            <div class="arrow"></div>
          <% end %>
          <%= link_to current_user, class: 'item' do %>
            <div class="title">投稿した本</div>
            <div class="arrow"></div>
          <% end %>
          <div class="item js-modal-open" id="logout">
            <div class="title">ログアウト</div>
            <div class="arrow"></div>
          </div>
        </div>
      <% end %>
      <div class="menu-footer">
        <% if logged_in? %>
          <% if !current_user.admin? && current_user?(@user) %>
            <%= link_to "アカウントを削除する", @user, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'remove' %>
          <% end %>
        <% else %>
          <div class="remove -black">アカウントを作成する</div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="header-overlay js-menu-close"></div>
</header>
<div class="overlay-cover js-modal-close"></div>
<div class="modal-block js-modal" data-modal="logout">
  <div class="heading">本当にログアウトしますか？</div>
  <%= link_to logout_path, method: :delete, class: 'm-button -reverse' do %>
    <div class="content">ログアウトする</div>
  <% end %>
  <div class="m-button js-modal-close">
    <div class="content">キャンセル</div>
  </div>
</div>